<div class="card " style="height: 80vh;">
    <div class="card-header">
      <h1>Usuario</h1>
    </div>
    <div class="card-body">

      <!-- buscador -->
      <div class="row ">
        <div class="col-2">
          <label for="">Buscar Codigo</label>
          <input type="text" placeholder="Digite codigo" class="form-control" [disabled]="habilitarFormulario">
        </div>
        <div class="col-3">
          <label for="">Buscar Nombre</label>
          <input type="text" placeholder="Digite el Nombre..." class="form-control" [disabled]="habilitarFormulario">
        </div>
        <div class=" col-2">
          <button class="btn btn-primary" (click)="nuevoUsuario()">Nuevo Usuario</button>
        </div>
      </div>
      <!-- fin buscador -->

      <!-- Grid -->
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
        <table class="table table-bordered table-hover table-striped table-sm">
          <thead class="table-dark">
            <tr>
              <th style="width: 5%;">Codigo</th>
              <th style="width: 30%;">Nombre</th>
              <th style="width: 3%;">Nivel</th>
              <th style="width: 5%;">Vendedor</th>
              <th style="width: 5%;">Mantenimiento</th>
              <th style="width: 3%;">Caja</th>
              <th style="width: 5%;">Despacho</th>
              <th style="width: 5%;">Almacen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarioList"  [ngClass]="{'selected':usuario === selectedUsuario}" (click)="seleccionarUsuario(usuario)">
              <td class="text-center">{{usuario.codUsuario}}</td>
              <td>{{usuario.nombreUsuario}}</td>
              <td class="text-center">{{usuario.nivel}}</td>
              <td class="text-center"><input type="checkbox" [checked]="usuario.vendedor"></td>
              <td class="text-center"><input type="checkbox" [checked]="usuario.mantenimiento"></td>
              <td class="text-center"><input type="checkbox" [checked]="usuario.caja"></td>
              <td class="text-center"><input type="checkbox" [checked]="usuario.despacho"></td>
              <td class="text-center"><input type="checkbox" [checked]="usuario.almacen"></td>
              <td>
                <button class="btn btn-link" (click)="editarUsuario(usuario) ; $event.stopPropagation()"><i class="bi bi-pencil text-primary"></i></button>
                &nbsp;
                <button class="btn btn-link" (click)="eliminarUsuario(usuario); $event.stopPropagation()" ><i class="bi bi-trash text-danger"></i></button>
                &nbsp;
                <button class="btn btn-link" (click)="consultarUsuario(usuario); $event.stopPropagation()"><i class="bi bi-card-list text-success"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <!-- Formulario de cliente -->
      <div
        class="modal fade"
        id="modalusuario"
        tabindex="-1"
        aria-labelledby="modalUsuarioLabel"
        aria-hidden="true">

        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
              <h4 class="modal-title fs-5" id="modalSuplidorLabel">
                {{tituloModalUsuario}}
              </h4>
              <button
                type="button"
                class="btn-close" (click)="cerrarModalUsuario()"
                aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <form
                 [formGroup]="formularioUsuario"
                 (ngSubmit)="guardarUsuario()"
              >
              <div class="form-row">
                   <!--<div class="form-group">-->
              <div class="col-9">
                <div class="card">
                  <div class="card-header">
                    <h4>Datos del Usuario</h4>
                  </div>
                  <div class="card-body">

                    <div class="row">
                      <div class="col-3">
                        <label for="">Id Usuario</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="idUsuario"
                        />
                      </div>
                      <div class="col-3">
                        <label for="">Clave</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="claveUsuario"
                        />
                      </div>
                      <div class="col-7">
                        <label for="">Nombre</label>
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          formControlName="nombreUsuario"
                        />
                      </div>








                    </div>
                  </div>
                </div>
              </div>
            </div>

                <button type="submit" *ngIf="!modoconsultaUsuario" class="btn btn-success">{{modoedicionUsuario ? "Editar" : "Guardar"}}</button>

              </form>
            </div>
          </div>
        </div>
      </div>
