.row {
    margin-bottom: 5px;
  }
  .form-check {
    display: flex;
    align-items: center;
  }

  .form-check-input {
    margin-left: 5px;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: rgb(250, 245, 245); /* Fondo blanco */
    border: 2px solid black; /* Borde negro */
  }

  .custom-checkbox:checked {
   /* background-color: rgb(105, 153, 228); /* Fondo negro cuando está seleccionado */
  }

  .custom-checkbox:checked::before {
   content: "✔";
    display: block;
    color: rgb(5, 0, 0);
    text-align: center;
    line-height: 18px;
  }

  .form-check-label {
    margin-left: 8px; /* Espacio entre el checkbox y la etiqueta */
    color: black; /* Color del texto */
  }
  .custom-modal {
    max-width: 40%; /* Ancho máximo del modal */
    width: 100%; /* Asegura que el modal ocupe el 100% del contenedor */
}


input[type="checkbox"]:disabled {
  border-color: rgba(231, 0, 0, 0.3) !important;
}

input[type="checkbox"]:disabled {
  background-color: red !important;
}

input[type="checkbox"]:disabled {
  cursor: default;
  background-color: light-dark(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)) !important;
  color: light-dark(rgb(12, 243, 27), rgb(166, 246, 5)) !important;
}
