.chofer-activo {
  height: 22px;
  width: 80px;
  background-color: #529FBB;
  border-radius: 8px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
}

.chofer-inactivo {
  height: 22px;
  width: 80px;
  background-color: #707271;
  border-radius: 8px;
  color: #FFF;
  font-size: 14px;
  text-align: center;
}