.custon-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  margin-left: 5px;
}

.custon-link.active {
  text-decoration: none;
  color: #af3d2c;
  font-size: 16px;
  font-weight: bold;
  padding: 1px 5px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.custon-link:hover {
  text-decoration: none;
  color: #af372c;
  font-size: 18px;
  font-weight: bold;
}

.custom-avatar {
  height: 32px;
  width: 32px;
  background-color: #f0f0f0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 10px;
  color: #af372c;
}

.name-charge {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 14px;
}

.name-person {
  color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
}

.local-trabajo {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
}
