<private-navbar
  [initials]="initials"
  [personName]="personName"
  [isDesktopApp]="isDesktopApp"
  [updateStage]="updateStage"
  [updateMessage]="updateMessage"
  [updateVersionLabel]="updateVersionLabel"
  [updateProgressLabel]="updateProgressLabel"
  (profileRequested)="openMyProfile()"
  (aboutRequested)="openAbout()"
  (checkUpdatesRequested)="checkForUpdates()"
  (installUpdateRequested)="installPendingUpdate()"
  (logoutRequested)="logout()"
></private-navbar>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
