<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header" style="height: 40px; background-color: #af372c">
        <h3 class="card-title" style="color: white; text-align: center">
          Facturas
        </h3>
      </div>
      <div class="card-body" style="background-color: #e6e4e4">
        <div class="row mt-1">
          <div
            class="table-responsive"
            style="
              position: relative;
              height: 400px;
              overflow-y: auto;
              border: 2px solid rgb(4, 10, 185);
            "
          >
            <table
              class="table table-bordered table-hover table-striped table-sm table-class"
            >
              <thead
                class="table-dark"
                style="position: sticky; top: 0; z-index: 2"
              >
                <tr>
                  <th style="width: 10%">Numero</th>
                  <th style="width: 40%">Nombre</th>
                  <th class="text-center" style="width: 15%">Fecha</th>
                  <th style="width: 16%">Valor</th>
                  <th class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let factura of facturacionList; let i = index"
                  [ngClass]="{'table-primary': factura.fa_codFact === codFacturaselecte}"
                >
                  <td
                    (click)="seleccionarFactura(factura, i)"
                    style="width: 10%"
                  >
                    {{factura.fa_codFact}}
                  </td>
                  <td
                    (click)="seleccionarFactura(factura, i)"
                    style="width: 40%"
                  >
                    {{factura.fa_nomClie}}
                  </td>
                  <td class="text-center" style="width: 15%">
                    {{factura.fa_fecFact}}
                  </td>
                  <td class="text-end" tyle="width: 16%">
                    {{factura.fa_valFact}}
                  </td>
                  <td>
                    <i
                      (click)="consultarFacturacion(factura)"
                      class="bi bi-card-list text-success"
                      style="padding: 10px"
                    >
                    </i>

                    <!-- <i class="bi bi-file-earmark-pdf text-info"></i>-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- ***************** -->
      <div class="row mt-0">
        <div class="col">
          <div class="card">
            <div
              class="card-body"
              style="height: 60px; background-color: #f7eeeebd"
            >
              <div class="row mt-0">
                <!-- <div class="col-1"></div> -->
                <div class="col-4">
                  <button
                    [disabled]="botonEditar"
                    class="btn btn-success btn-block btn-lx w-50"
                    (click)="editarFactura()"
                  >
                    <i class="bi bi-arrow-clockwise"></i> Editar
                  </button>
                </div>
                <!-- <div class="col-1"></div> -->
                <div class="col-4">
                  <button
                    [disabled]="botonGuardar"
                    class="btn btn-success btn-lx w-50"
                    (click)="guardarFacturacion()"
                  >
                    <i class="bi bi-check"></i> Guardar
                  </button>
                </div>
                <!-- <div class="col-1"></div> -->
                <div class="col-4">
                  <button
                    class="btn btn-success btn-block btn-lx w-50"
                    (click)="limpia()"
                  >
                    <i class="bi bi-arrow-clockwise"></i> Deshacer
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--**********************  -->
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header" style="height: 40px; background-color: #0101b9">
        <h4 class="card-title" style="color: white; text-align: left">
          Datos de la factura
        </h4>
      </div>

      <div class="card-body" style="background-color: #e6e4e4">
        <form
          [formGroup]="formularioFacturacion"
          class="custom-form-background"
        >
          <!-- (ngSubmit)="guardarFacturacion()" -->
          <div class="row mt-0">
            <div class="col-5"></div>
            <div class="col-1">
              <label for="" class="label">No.</label>
            </div>
            <div class="col-3">
              <input
                type="text"
                class="form-control form-control-sm textbox"
                formControlName="fa_codFact"
              />
            </div>
            <div class="col-3">
              <input
                formControlName="fa_fecFact"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-2">
              <label for="" class="label">RNC</label>
            </div>
            <div class="col-3">
              <input
                type="text"
                #inputrnc
                id="inputrnc"
                formControlName="fa_rncFact"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-4">
              <input
                type="number"
                formControlName="fa_tipoNcf"
                class="form-select form-control-sm"
              />
            </div>
            <div class="col-3">
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="fa_ncfFact"
                placeholder="NCF"
              />
            </div>
          </div>
          <div class="row mt-.5">
            <div class="col-2">
              <label for="" class="label">Cliente</label>
            </div>
            <div class="col-10">
              <div class="input-group show">
                <input
                  class="form-control form-control-sm dropdown-toggle searchInput"
                  type="text"
                  formControlName="fa_nomClie"
                />
              </div>
            </div>
          </div>
          <div class="row mt-.5">
            <div class="col-2">
              <label for="" class="label">Dirección</label>
            </div>
            <div class="col-10">
              <input
                type="text"
                formControlName="fa_dirClie"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-.5">
            <div class="col-2">
              <label for="" class="label">Telefono</label>
            </div>
            <div class="col-3">
              <input
                type="text"
                formControlName="fa_telClie"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-3">
              <input
                type="text"
                formControlName="fa_telClie2"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-4">
              <input
                type="text"
                formControlName="fa_sector"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-.5">
            <div class="col-2">
              <label for="" class="label">Correo</label>
            </div>
            <div class="col-6">
              <input
                type="text"
                formControlName="fa_correo"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-4">
              <input
                type="text"
                formControlName="fa_contacto"
                placeholder="Contacto"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-2">
              <label for="" class="label">Tipo pago</label>
            </div>
            <div class="col-3">
              <input
                type="text"
                formControlName="fa_contacto"
                placeholder="Contacto"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-3">
              <input
                type="password"
                name="listaenvio"
                forcontrolName="fa_envio"
                class="form-control listbox"
              />
            </div>
            <div class="col-2">
              <input
                type="password"
                formControlName="fa_codVend"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-2">
              <input
                type="text"
                formControlName="fa_nomVend"
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-.5">
            <div class="col-2">
              <label for="fa_despacho" class="form-check-label"
                >Facturada</label
              >
            </div>
            <div class="col-2">
              <div class="form-check">
                <input
                  type="checkbox"
                  id="fa_facturada"
                  formControlName="fa_facturada"
                  class="form-check-input form-check-input-sm"
                />
              </div>
            </div>
            <div class="col-2">
              <label for="fa_despacho" class="form-check-label"
                >Despachado</label
              >
            </div>
            <div class="col-2">
              <div class="form-check">
                <input
                  type="checkbox"
                  id="fa_despacho"
                  formControlName="fa_despacho"
                  class="form-check-input form-check-input-sm"
                />
              </div>
            </div>
            <div class="col-2">
              <label for="" class="label">Entregada</label>
            </div>
            <div class="col-2">
              <input
                type="checkbox"
                id="fa_entrega"
                formControlName="fa_entrega"
                placeholder="Entregado"
                #input8
                class="form-check-input form-check-input-sm"
              />
            </div>
          </div>
        </form>
        <br />
        <div class="row">
          <div class="col">
            <div
              class="table-responsive"
              style="
                height: 350px;
                overflow-y: auto;
                border: 2px solid rgb(4, 10, 185);
              "
              tabindex="0"
              (keydown)="navigateTable($event)"
              #Tabledetalle
            >
              <table class="table table-sm table-bordered">
                <thead class="table-dark">
                  <tr style="background-color: rgb(55, 0, 255)">
                    <th style="width: 13%">Código</th>
                    <th style="width: 37%">Descripción</th>
                    <th style="width: 10%">Cant.</th>
                    <th style="width: 13%">Precio</th>
                    <th style="width: 15%">Total</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of items;let i = index"
                    [class.table-active]="i === selectedRow"
                    (click)="selectRow(i)"
                  >
                    <td style="width: 13%">{{ item.producto?.in_codmerc }}</td>
                    <td style="width: 37%">{{ item.producto?.in_desmerc }}</td>
                    <td class="text-center" style="width: 10%">
                      {{ item.cantidad }}
                    </td>
                    <td class="text-center" style="width: 11%">
                      {{ item.precio }}
                    </td>
                    <td class="text-end" style="width: 13%">
                      {{ item.total | currency }}
                    </td>
                    <td>
                      <i
                        (click)="editarItem(item)"
                        class="bi bi-pencil text-primary"
                        style="padding: 10px"
                        *ngIf="habilitarIcono"
                      ></i>
                      <i
                        (click)="borarItem(item)"
                        class="bi bi-trash text-danger"
                        style="padding: 10px"
                        *ngIf="habilitarIcono"
                      >
                      </i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7"></div>
          <div class="col-5">
            <div class="row mt-1">
              <div style="padding: 5px; border: 2px solid rgb(4, 10, 185)">
                <div class="row">
                  <h6
                    class="col-4 col-form-label text-black"
                    style="font-size: 18px; font-weight: bold"
                  >
                    Sub Total
                  </h6>
                  <div class="col-8">
                    <input
                      type="text"
                      style="font-size: 18px; font-weight: bold"
                      class="form-control form-control-sm text-end"
                      disabled
                      [value]="subTotal | number:'1.2-2'"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="row mt-.5">
                  <h6
                    class="col-4 col-form-label text-black"
                    style="font-size: 18px; font-weight: bold"
                  >
                    Desc.
                  </h6>
                  <div class="col-8">
                    <input
                      type="text"
                      style="font-size: 18px; font-weight: bold"
                      class="form-control form-control-sm text-end"
                      disabled
                      [(ngModel)]="descuentotxt"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="row mt-.5">
                  <h6
                    class="col-4 col-form-label text-black"
                    style="font-size: 18px; font-weight: bold"
                  >
                    ITBI
                  </h6>
                  <div class="col-8">
                    <input
                      type="text"
                      style="font-size: 18px; font-weight: bold"
                      class="form-control form-control-sm text-end"
                      disabled
                      [value]="totalItbis | number:'1.2-2'"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="row mt-.5">
                  <h4 class="col-4 text-black">Total</h4>
                  <div class="col-8">
                    <input
                      type="text"
                      style="font-size: 18px; font-weight: bold"
                      disabled
                      class="form-control form-control-sm text-end"
                      [value]="totalGral | number:'1.2-2'"
                      id="inputPassword"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
