.table-responsive thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  /* Asegura que el encabezado esté por encima del contenido */
  background-color: #0f1f6a;
  /* Mantén el color de fondo del encabezado */
}

.table-responsive th,
.table-responsive td {
  padding: 1px;
  /* Ajusta el relleno según sea necesario */
  border: 1px solid #ccc;
}

.custom-input {
  height: 10px;
  /* Ajusta la altura según tus necesidades */
  padding: 15px;
  /* Ajusta el padding para un mejor ajuste visual */
  font-size: 14px;
  /* Ajusta el tamaño de la fuente si es necesario */
}

.custom-input:focus {
  outline: none;
  /* Elimina el contorno predeterminado al hacer clic en el campo */
  border-color: #007bff;
  /* Cambia el color del borde al hacer clic */
}

.form-check {
  margin-bottom: 30px;
  /* Espacio entre las opciones */
}

.custom-space {
  margin-bottom: 10px;
  /* Ajusta el margen según sea necesario */
}

.form-check-label {
  margin-left: 5x;
  /* Espacio entre el input y el label */
}

.custom-label {
  color: #000209;
  /* Cambia este valor para el color que desees */
  font-size: 16px;
  /* Cambia este valor para el tamaño de fuente que desees */
  font-weight: bold;
  /* Puedes usar normal, bold, bolder, etc. */
  text-decoration: underline;
  /* Subrayado */
  /* margin-bottom: 5px;*/
  /* Espacio debajo del label */
}
