.active-row {
  background-color: #5793d3 !important; /* El color que prefieras */
}
/* Cambia el color de fondo de la fila cuando el cursor está encima */
#miTabla tr:hover {
  background-color: #e6f7ff;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, 
.table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Aplica a la columna de descripción */
.text-cell {
  max-width: 200px;        /* límite de ancho */
  white-space: nowrap;     /* evita saltos de línea */
  overflow: hidden;        /* oculta lo que no cabe */
  text-overflow: ellipsis; /* agrega "..." al final */
}
