.nav-link
{
    color: rgb(250, 247, 247);
}


.nav-link.active {
  text-decoration: none;
  color: #af3d2c;
  font-size: 18px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 8px;
  margin: 0px 10px;

  background-color: #F0F0F0;
}
.sidebar-nav .nav-link {
  color: #212529; /* texto negro */
}

.sidebar-nav .nav-link.active {
 background-color: #f7f8fa; /* azul bootstrap */
  color: #611616; /* texto blanco en el activo */
}
