<div class="row">
  <div class="col-5">
    <div class="card">
      <div class="card-header" style="height: 40px; background-color: #0101b9">
        <h4 class="card-title" style="color: white; text-align: center">
          Datos Factura
        </h4>
      </div>
      <div class="card-body" style="background-color: #e6e4e4">
        <form
          [formGroup]="formularioFacturacion"
          class="custom-form-background"
          (ngSubmit)="guardarFacturacion()"
        >
          <div class="row">
            <div class="col-6"></div>
            <div class="col-2">
              <label for="" class="label">No.</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="textbox"
                class="form-control form-control-sm"
                formControName="fa_codFact"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6"></div>
            <div class="col-2">
              <label for="">Fecha</label>
            </div>
            <div class="col-4">
              <input
                formControlName="fa_fecFact"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-2">
              <label for="">RNC</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                #input1
                id="input1"
                (keydown.enter)="buscarRnc($event,input2)"
                formControlName="fa_rncFact"
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-2">
              <label for="">NCF</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="fa_rncFact"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-2">
              <label for="">Cliente</label>
            </div>
            <div class="col-10">
              <div class="input-group show">
                <input
                  class="form-control form-control-sm dropdown-toggle searchInput"
                  data-id="agent"
                  type="text"
                  autocomplete="off"
                  (input)="convertToUpperCase($event)"
                  (keydown.enter)="moveFocusnomclie($event, input3)"
                  (keydown)="handleKeydown($event)"
                  #input2
                  id="input2"
                  [formControl]="buscarNombre"
                  formControlName="fa_nomClie"
                />

                <div
                  [ngClass]="{ 'show': resultadoNombre.length > 0 }"
                  class="dropdown-menu"
                  style="
                    margin-right: 30px;
                    margin-top: 45px;
                    z-index: 300;
                    width: 350px;
                    position: absolute;
                    will-change: transform;
                  "
                >
                  <div
                    class="searchReturnItem name-find"
                    *ngFor="let result of resultadoNombre; let i = index"
                    [class.active]="i === selectedIndex"
                  >
                    <a
                      (click)="cargarDatosCliente(result)"
                      style="
                        color: #222222 !important;
                        font-size: 10pt;
                        padding: 20px 0px;
                        text-decoration: none !important;
                        cursor: pointer;
                      "
                      class="px-3 cp"
                    >
                      <i class="far fa-user-circle mr-5"></i>&nbsp;&nbsp;{{
                      result.cl_nomClie }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-2">
              <label for="">Dirección</label>
            </div>
            <div class="col-10">
              <input
                type="text"
                formControlName="fa_dirClie"
                (input)="convertToUpperCase($event)"
                (keydown)="moveFocus($event, input4)"
                #input3
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-2">
              <label for="">Telefono</label>
            </div>
            <div class="col-5">
              <input
                type="text"
                formControlName="fa_telClie"
                (keydown)="moveFocus($event, input5)"
                #input4
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-5">
              <input
                type="text"
                formControlName="fa_telClie2"
                (keydown)="moveFocus($event, input6)"
                #input5
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-2">
              <label for="">Sector</label>
            </div>
            <div class="col-5">
              <input
                type="text"
                formControlName="fa_sector"
                (keydown)="moveFocus($event, input7)"
                #input6
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-1">
              <label for="">Zona</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                formControlName="fa_desZona"
                (keydown)="moveFocus($event, input8)"
                #input7
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-2">
              <label for="">Contacto</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                formControlName="fa_contacto"
                (keydown)="moveFocus($event, input9)"
                #input8
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-2">
              <label for="">Correo</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                formControlName="fa_correo"
                (keydown)="moveFocus($event, input10)"
                #input9
                class="form-control form-control-sm"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="" class="label">Forma de pago</label>
            </div>
            <div class="col-3">
              <label for="" class="label">Tipo de Despacho</label>
            </div>
            <div class="col-5">
              <label for="" class="label">Vendedor</label>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <input
                type="text"
                formControlName="fa_fpago"
                (keydown)="moveFocus($event, input11)"
                #input10
                class="form-control form-control-sm"
              />
            </div>

            <div class="col-3">
              <input
                type="text"
                formControlName="fa_envio"
                (keydown)="moveFocus($event, input12)"
                #input11
                class="form-control form-control-sm"
              />
            </div>

            <div class="col-2">
              <input
                type="text"
                formControlName="fa_codVend"
                (keydown)="moveFocus($event, input13)"
                #input12
                class="form-control form-control-sm"
              />
            </div>
            <div class="col-2">
              <input
                type="text"
                formControlName="fa_nomVend"
                #input13
                class="form-control form-control-sm"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Detalles de la factura</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <label for=""> Código </label>
            <div class="input-group show">
              <input
                class="form-control dropdown-toggle searchInput me-2"
                data-id="agent"
                type="text"
                [disabled]="!habilitarCampos"
                #codigoInput
                autocomplete="off"
                (input)="convertToUpperCase($event)"
                (keydown)="handleKeydownInventario($event)"
                (keydown)="moveFocuscodmerc($event, input14)"
                #input13
                [formControl]="buscarcodmerc"
                [(ngModel)]="codmerc"
                name="codmerc"
                placeholder="Código"
              />

              <div
                [ngClass]="{ 'show': resultadoCodmerc.length > 0 }"
                class="dropdown-menu"
                style="
                  margin-right: 30px;
                  margin-top: 45px;
                  z-index: 300;
                  width: 350px;
                  position: absolute;
                  will-change: transform;
                "
              >
                <div
                  class="searchReturnItem name-find"
                  *ngFor="let result of resultadoCodmerc; let i = index"
                  [class.active]="i === selectedIndexcodmerc"
                >
                  <a
                    (click)="cargarDatosInventario(result)"
                    style="
                      color: #222222 !important;
                      font-size: 10pt;
                      padding: 20px 0px;
                      text-decoration: none !important;
                      cursor: pointer;
                    "
                    class="px-3 cp"
                  >
                    <i class="far fa-user-circle mr-5"></i>&nbsp;&nbsp;{{
                    result.in_codmerc }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for=""> Descripción </label>
            <div class="input-group show">
              <input
                class="form-control dropdown-toggle searchInput me-2"
                data-id="agent"
                type="text"
                [disabled]="habilitarCampos"
                #descripcionInput
                autocomplete="off"
                (input)="convertToUpperCase($event)"
                (keydown)="moveFocusdesc($event, input15)"
                (keydown)="handleKeydownInventariosdesc($event)"
                #input14
                [formControl]="buscardescripcionmerc"
                [(ngModel)]="descripcionmerc"
              />
              <div
                [ngClass]="{ 'show': resultadodescripcionmerc.length > 0 }"
                class="dropdown-menu"
                style="
                  margin-right: 30px;
                  margin-top: 45px;
                  z-index: 300;
                  width: 350px;
                  position: absolute;
                  will-change: transform;
                "
              >
                <div
                  class="searchReturnItem name-find"
                  *ngFor="let result of resultadodescripcionmerc; let i = index"
                  [class.active]="i === selectedIndexcoddescripcionmerc"
                >
                  <a
                    (click)="cargarDatosInventario(result)"
                    style="
                      color: #222222 !important;
                      font-size: 10pt;
                      padding: 20px 0px;
                      text-decoration: none !important;
                      cursor: pointer;
                    "
                    class="px-3 cp"
                  >
                    <i class="far fa-user-circle mr-5"></i>&nbsp;&nbsp;{{
                    result.in_desmerc }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <label for=""> Cant. </label>
            <input
              type="number"
              placeholder="Cantidad"
              [(ngModel)]="cantidadmerc"
              [formControl]="cantidadform"
              id="input8"
              #input15
              (keydown)="moveFocusCantidad($event, input16)"
              class="form-control"
            />
          </div>
          <div class="col-2">
            <label for=""> Precio </label>
            <input
              type="number"
              [(ngModel)]="preciomerc"
              [formControl]="precioform"
              id="input9"
              #input16
              (keydown)="moveFocus($event, input13)"
              class="form-control"
              (keydown.enter)="agregaItem($event)"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div
              class="table-responsive"
              style="height: 300px; overflow-y: auto"
            >
              <table class="table table-sm table-bordered">
                <thead class="table-dark">
                  <tr style="background-color: red">
                    <th style="width: 13%">Código</th>
                    <th style="width: 37%">Descripción</th>
                    <th style="width: 10%">Cant.</th>
                    <th style="width: 13%">Precio</th>
                    <th style="width: 15%">Total</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <td style="width: 13%">{{ item.producto?.in_codmerc }}</td>
                    <td style="width: 37%">{{ item.producto?.in_desmerc }}</td>
                    <td class="text-center" style="width: 10%">
                      {{ item.cantidad }}
                    </td>
                    <td class="text-center" style="width: 11%">
                      {{ item.precio }}
                    </td>
                    <td class="text-end" style="width: 13%">
                      {{ item.total | currency }}
                    </td>
                    <td>
                      <i
                        (click)="editarItem(item)"
                        class="bi bi-pencil text-primary"
                        style="padding: 10px"
                        *ngIf="habilitarIcono"
                      >
                      </i>
                      <i
                        (click)="borarItem(item)"
                        class="bi bi-trash text-danger"
                        style="padding: 10px"
                        *ngIf="habilitarIcono"
                      >
                      </i>
                    </td>
                  </tr>
                </tbody>
                <!-- <tfoot>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td
                      class="text-end"
                      style="font-size: 18px; font-weight: bold"
                    >
                      Sub-Total
                    </td>
                    <td
                      class="text-end"
                      style="font-size: 18px; font-weight: bold"
                      colspan="1"
                    >
                      {{this.subTotal | currency}}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td
                      class="text-end"
                      style="font-size: 18px; font-weight: bold"
                    >
                      Itbis
                    </td>
                    <td
                      class="text-end"
                      style="font-size: 18px; font-weight: bold"
                      colspan="1"
                    >
                      {{totalItbis | currency}}
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td
                      class="text-end"
                      style="font-size: 18px; font-weight: bold"
                    >
                      Total Gral
                    </td>
                    <td
                      class="text-end"
                      style="font-size: 18px; font-weight: bold"
                      colspan="1"
                    >
                      {{totalGral | currency}}
                    </td>
                  </tr>
                </tfoot> -->
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4">
            <div class="row">
              <div
                style="
                  background-color: #a24533;
                  padding: 5px;
                  border-radius: 5px;
                "
              >
                <div class="row">
                  <h6 class="col-4 col-form-label text-white">Sub Total</h6>
                  <div class="col-5">
                    <input
                      type="text"
                      class="texbox"
                      disabled
                      class="texbox"
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="row">
                  <h6 class="col-sm-4 col-form-label text-white">Desc.</h6>
                  <div class="col-7">
                    <input
                      type="text"
                      class="texbox"
                      disabled
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="row">
                  <h6 class="col-sm-4 col-form-label text-white">ITBI</h6>
                  <div class="col-6">
                    <input
                      type="text"
                      class="texbox"
                      disabled
                      id="inputPassword"
                    />
                  </div>
                </div>
                <div class="row">
                  <h6 class="col-4 col-form-label text-white">Total</h6>
                  <div class="col-5">
                    <input
                      type="text"
                      disabled
                      class="texbox"
                      id="inputPassword"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary btn-block btn-lg w-100">
                  Facturar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
