/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body,
html {
  background-color: #edf2fa;
}

.card {
  margin-top: 10px;
}

table tr:hover {
  background-color: #936e6e;
  /* Cambia este color al que desees */
}

.pagination .page-item .page-link {
  cursor: pointer;
}

input.uppercase {
  text-transform: uppercase;
}

small {
  font-size: 12px;
  color: #999;
}

.modal-header {
  background-color: #0f1f6a;
  color: white;
}

.btn-close {
  background-color: white !important;
}

tr:hover {
  cursor: pointer !important
}
.table .text-cell {
  max-width: 200px;         /* ajusta el tamaño */
  white-space: nowrap;      /* evita saltos de línea */
  overflow: hidden;         /* oculta el exceso */
  text-overflow: ellipsis;  /* agrega "..." */
}
.table thead th {
  position: sticky;
  top: 0;
  background-color: #0f1f6a; /* Color de fondo */
  color: white;              /* Color del texto */
  z-index: 1;                /* Asegura que esté por encima de las filas */
}