.nav-link
{
    color: rgb(250, 247, 247);
}


.nav-link.active {
  text-decoration: none;
  color: #af3d2c;
  font-size: 18px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 8px;
  margin: 0px 10px;

  background-color: #F0F0F0;
}
.sidebar-nav .nav-link {
  color: #212529; /* texto negro */
}

.sidebar-nav .nav-link.active {
 background-color: #f7f8fa; /* azul bootstrap */
  color: #611616; /* texto blanco en el activo */
}

/* Estilos para el sidebar fijo */
.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto; /* Permite scroll interno si el menú es muy largo */
  border-right: 1px solid rgba(0,0,0,.125);
  z-index: 100;
}

/* Personalización del scrollbar del sidebar */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
